#hero{
    background: var(--primary-color-trans);
    padding-top: 150px;
}
.hero-wrapper{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.hero-left{
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
    padding: 3rem;
    flex-grow: 1;
    flex-basis: calc(50% - 20px);
    min-width: 400px;
}
.hero-left>h1{
    font-size: 5.5rem;
    max-width: 500px;
    padding-top: 30px;
    font-family: var(--secondary-font);
}
.hero-left>p{
    max-width: 420px;
    line-height: 1.5;
    padding-top: 25px;
}
.hero-buttons{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-top: 25px;
    flex-wrap: wrap;
}
.hero-right{
    padding: 0 20px;
    position: relative;
    z-index: 3;
    text-align: center;
    flex-grow: 1;
    flex-basis: calc(50% - 20px);
    min-width: 400px;
}
.hero-right>img:nth-child(1){
    z-index: 2;
    width: 100%;
}
.hero-right>img:nth-child(2){
    z-index: -1;
    position: absolute;
    left: 20px;
    top: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}
@media(max-width: 859px){
    .hero-left{
        text-align: center;
        align-items: center;
        order: 1;
    }
    .hero-buttons{
        justify-content: center;
    }
}
@media(max-width: 500px){
    .hero-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .hero-left,
    .hero-right{
        min-width: 0px !important;
    }
}
